<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserTrackingUsageDescription</key>
	<string>Tracking Usage Description</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_lnp._tcp</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Camera Usage Description</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Location Always Usage Description</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>LocationAccuracyEscalationReason</key>
		<string>We need full accuracy for this and that.</string>
	</dict>
</dict>
</plist>
